{% extends "base.njk" %}

{% block content %}
<div ng-controller="aboutController">
    <h3 data-i18n="Blacknet status and information">Blacknet status and information</h3>
    <table id="index-table">
        <tr>
            <td data-i18n="Latest Version">Latest Version</td>
            <td width="70%">
                <a href="https://blacknet.ninja/">${overview.version}</a>
            </td>
        </tr>
        <tr>
            <td data-i18n="IBO Amount">IBO Amount</td>
            <td width="70%"><span class="strong">1,000,000,000 BLN</span></td>
        </tr>
        <tr>
            <td data-i18n="IBO Price">IBO Price</td>
            <td>
            <span class="strong">1 BLK = 67.99 BLN</span> ( <span data-i18n="Total Burned">Total Burned</span> : 
            <span class="strong">14,708,159.7 BLK</span>)</td>
        </tr>
        <tr>
            <td data-i18n="Genesis Block Time">Genesis Block Time</td>
            <td>23 Dec 2018 09:00:00 UTC</td>
        </tr>
        <tr>
            <td data-i18n="Current Supply">Current Supply</td>
            <td><span class="strong">${overview.supply | format_number} BLN</span></td>
        </tr>
        <tr>
            <td data-i18n="Current Price">Current Price</td>
            <td><span class="strong">${price["BLN-BTC"]["price"]} BTC</span><span style="color:${percentColor}">(${price["BLN-BTC"]["percent"]}%)</span></td>
        </tr>
    </table>
    <div load-Script ng-src="/js/highcharts.js" class="chart-trade" id="chart-trade">
    </div>
    <h3  data-i18n="Block Info">Block Info</h3>
    <table id="index-table">
        <tr>
            <td data-i18n="Current Height">Current Height</td>
            <td width="70%"><a href="/block/${overview.height}">${overview.height}</a></td>
        </tr>
        <tr>
            <td data-i18n="Current Block Hash">Current Block Hash</td>
            <td width="70%"><a href="/block/${overview.blockHash}}">${overview.blockHash}</a></td>
        </tr>
        <tr>
            <td data-i18n="Current Block Time">Current Block Time</td>
            <td>${overview.blockTime|timestr}</td>
        </tr>
        <tr>
            <td data-i18n="Difficulty">Difficulty</td>
            <td>${overview.difficulty}</td>
        </tr>
        <tr>
            <td data-i18n="CumulativeDifficulty">CumulativeDifficulty</td>
            <td>${overview.cumulativeDifficulty}</td>
        </tr>
    </table>
    <h3 data-i18n="Community Info">Community Info</h3>
    <table id="index-table">
        <tr>
            <td data-i18n="Source code">Source code</td>
            <td width="70%">
                <p><a href="https://gitlab.com/blacknet-ninja"><i class="fab fa-gitlab"></i> GitLab</a></p>
            </td>
        </tr>
        <tr>
            <td data-i18n="Community">Community</td>
            <td width="70%">
             <p><a href="https://riot.im/app/#/room/#blacknet:matrix.org"><i class="fas fa-comments"></i> #blacknet:matrix.org</a></p>
            <p><a href="https://bitcointalk.org/index.php?topic=469640.0"><i class="fab fa-bitcoin"></i> BitcoinTalk</a></p>
            <p><a href="https://www.reddit.com/r/blacknet"><i class="fab fa-reddit"></i> Reddit</a></p>
            <p><a href="atom.xml"><i class="fas fa-rss-square"></i> Blacknet archives</a></p>
            <p><a href="https://gitlab.com/blacknet-ninja.atom"><i class="fas fa-rss-square"></i> Activity in the GitLab group</a></p>
            <p><i class="fab fa-qq"></i> QQgroup: 705702427</p>
            </td>
        </tr>
        <tr>
            <td data-i18n="Exchanges">Exchanges</td>
            <td>
                <p><a href="https://www.aex.plus/page/trade.html?mk_type=CNC&trade_coin_name=BLN"><i class="fas fa-exchange-alt"></i>BLN_CNC AEX.plus</a></p>
                <p><a href="https://vinex.network/market/BTC_BLN"><i class="fas fa-exchange-alt"></i>BTC_BLN vinex.network</a></p>
                <p><a href="https://www.vbitex.com/Home/Trade/index?id=15"><i class="fas fa-exchange-alt"></i> BLN_VB vbitex.com</a></p>
                <p><a href="https://www.citex.co.kr/#/trade/BLN_BTC"><i class="fas fa-exchange-alt"></i>BTC_BLN citex.co.kr</a></p>
                <p><a href="https://www.bitalong.com/trade/index/market/bln_usdt"><i class="fas fa-exchange-alt"></i>BLN_USDT bitalong.com</a></p>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/js/highcharts.js"></script>
</div>
{% endblock %}