{% extends "base.njk" %}

{% block content %}
<div ng-controller="account">
    <h3 data-i18n="Account Info">Account Info</h3>
    <table>
        <tbody>
            <tr>
                <td class="minwidth" data-i18n="Account">Account</td>
                <td>
                    <span class="overview_height">{{address}}</span>
                    <a href="/alias/{{address}}" data-i18n="Claim your address">Claim your address</a>
                </td>
            </tr>
            <tr ng-if="account.displayName">
                <td class="minwidth" data-i18n="Owner">Owner</td>
                <td>
                    <span>${account.displayName}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Balance">Balance</td>
                <td>
                    <span class="overview_blockHash strong">${account.balance | currency}
                        BLN</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Confirmed Balance">Confirmed Balance</td>
                <td>
                    <span class="overview_blockHash strong">${account.confirmedBalance | currency}
                        BLN</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Staking Balance">Staking Balance</td>
                <td>
                    <span class="overview_blockHash strong">${account.stakingBalance | currency}
                        BLN</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Tx Amount">Tx Amount</td>
                <td>
                    <span>${account.txamount}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="PoS Blocks">PoS Blocks</td>
                <td>
                    <span>${account.blocks}</span>
                </td>
            </tr>
            <tr ng-show="account.outLeasesBalance">
                <td data-i18n="Out Lease Balance">Out Lease Balance</td>
                <td>
                    <span class="overview_blockHash strong">${account.outLeasesBalance | currency}
                        BLN</span>
                </td>
            </tr>
            <tr ng-show="account.inLeasesBalance">
                <td data-i18n="In Lease Balance">In Lease Balance</td>
                <td>
                    <span class="overview_blockHash strong">${account.inLeasesBalance| currency}
                        BLN</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Real Balance">Real Balance</td>
                <td>
                    <span class="overview_blockHash strong">${account.realBalance| currency}
                        BLN</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="account_tx">
        <h3  data-i18n="Transactions">Transactions</h3>
    </div>
    <div class="filter" ng-init="type='{{type}}'">
       <a ng-repeat="tp in types" ng-class="{active:type == tp}" href="${pathname}?type=${tp}" data-i18n="${tp|txType}">${tp|txType}</a>
    </div>
    <table id="account-table" style="margin-top:0">
        <thead>
            <tr>
                <td class="hide" data-i18n="Height">Height</td>
                <td class="hide" data-i18n="Time">Time</td>
                <td class="type" data-i18n="Type">Type</td>
                <td class="from_to" data-i18n="From/To">From/To</td>
                <td data-i18n="Amount">Amount</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-if="isloaded" ng-repeat="tx in txns">
                <td class="hide">
                    <a href="/${tx.data.blockHeight}">${tx.data.blockHeight}</a>
                </td>
                <td class='time hide'>${tx.time | timestr}</td>
                <td class="type" ng-if="tx.type == 0">
                    <a href="/${tx.txid.toLowerCase()}">${account.address == tx.from ? "Sent to" : 'Received from'}</a>
                </td>
                <td class="type" ng-if="tx.type == 2 || tx.type == 3">
                    <a href="/${tx.txid.toLowerCase()}">${tx.type|txType} ${account.address == tx.from ? "to" : 'from'}</a>
                </td>
                <td class="type" ng-if="tx.type < 254 && tx.type != 0 && tx.type != 2 && tx.type != 3  ">
                    <a href="/${tx.txid.toLowerCase()}">${tx.type|txType}</a>
                </td>
                <td class="type" ng-if="tx.type > 253">
                    ${tx.type|txType}
                </td>
                <td class="address" ng-if="tx.type == 0 || tx.type == 2 || tx.type == 3">
                    <a ng-if="account.address == tx.from" href="/${tx.data.to}">${tx.data.to}</a>
                    <a ng-if="account.address != tx.from" href="/${tx.from}">${tx.from}</a>
                </td>
                <td class="address" ng-if="tx.type != 0 && tx.type != 2 && tx.type != 3">
                    <a href="/${tx.from}" ng-if="tx.from != 'genesis'">${tx.from}</a>
                    <a href="/${tx.to}" ng-if="tx.from == 'genesis'">${tx.to}</a>
                </td>
                <td class="right">
                    <span class="strong">${tx.data.amount | currency} BLN</span></td>
            </tr>
            <tr ng-if="!isloaded">
                <td colspan="5">
                    {% include "spinner.njk" %}
                </td>
            </tr>
            <tr ng-if="isloaded && txns.length == 0">
                <td colspan="5" >
                    No transactions yet.
                </td>
            </tr>
        </tbody>
    </table>
    <style>
        .pager{
            text-align: center;
            margin-top: 20px;
            overflow: hidden;
        }
        .pager a{
            border: 1px solid #2D2D2D;
            display: inline-block;
            width: 24px;
            height: 24px;
            background: #2D2D2D;
            line-height: 24px;
            font-size: 12px;
            margin-left: 6px;
            
        }
        a, a:active {
            color: #3CA2A2;
            text-decoration: none;
        }

    </style>
    <div class="pager" ng-if="page_number>1">
        <a ng-if="page > 3" href="${currentPath}?page=1&type=${type}"><<</a>
        <a ng-if="page > 1" href="${currentPath}?page=${page-1}&type=${type}"><</a>
        <a ng-repeat="p in pager" class="${page == p ? 'current' : ''}" href="${currentPath}?page=${p}&type=${type}">${p}</a>
        <a ng-if="page < page_number" href="${currentPath}?page=${+page+1}&type=${type}">></a>
        <a ng-if="page != page_number" href="${currentPath}?page=${page_number}&type=${type}">>></a>
    </div>
</div>
{% endblock %}